/* Main background : Terre brûlée */
body {
	background-color: #220901;
}

/* Primary button : blanc cassé */
.btn-primary {
	color: #444;
	background-color: #fff4df;
	border-color: #fff4df;
}
.btn-primary:active, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show>.btn-primary.dropdown-toggle {
	color: #444;
	background-color: #f0dbbb;
	border-color: #ecd4b3;
}
.btn-primary:hover {
	color: #444;
	background-color: #f3e1c4;
	border-color: #f0dbbb;
}
.btn-primary:focus {
	color: #444;
	background-color: #f3e1c4;
	border-color: #f0dbbb;
}
.btn-outline-primary {
	color: #444;
	color: #fff4df;
	border-color: #fff4df;
}
.btn-outline-primary:focus {
	box-shadow: 0 0 0 0.2rem rgba(255,244,223,0.5);
}
.btn-outline-primary:active {
	color: #444;
	background-color: #fff4df;
	border-color: #fff4df;
}
.btn-outline-primary:hover {
	color: #444;
	background-color: #fff4df;
	border-color: #fff4df;	
}

/* Danger button : rouge burnout */
.btn-danger {
        background-color: #9d0208;
        border-color: #9d0208;
}
.btn-danger:active, .btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active, .show>.btn-danger.dropdown-toggle {
        background-color: #8e0000;
        border-color: #8a0000;
}
.btn-danger:hover {
        background-color: #910000;
        border-color: #8e0000;
}
.btn-danger:focus {
        background-color: #910000;
        border-color: #8e0000;
}
.btn-outline-danger {
        color: #9d0208;
        border-color: #9d0208;
}
.btn-outline-danger:focus {
        box-shadow: 0 0 0 0.2rem rgba(157,2,8,0.5);
}
.btn-outline-danger:active {
        background-color: #9d0208;
        border-color: #9d0208;
}
.btn-outline-danger:hover {
        background-color: #9d0208;
        border-color: #9d0208;
}


.expected {
	width: 200px;
	word-break: break-all;
}

.text-stroke {
	text-decoration: line-through;
}

.stop-watch {
	max-width: 100px;
	width: 100px;
}

.user-answer {
	max-width: 150px;
	max-height: 60px;
	overflow: auto;
}
