{% extends 'bt/base.html' %}
{% load static %}
{% load socialaccount %}

{% block content %}
<h3>Bienvenue au Blind-test du Burnout !</h3>

<div class="text-justify d-none">
    <p>Le fonctionnement est simple : vous écoutez les musiques sur le live du <a href="https://www.twitch.tv/MeltdownMtpl" target="_blank">Meltdown Montpellier (suivez-nous !)</a>, et vous avez la possibilité de saisir le titre et l'artiste et éventuellement les autres informations demandées. Une fois que vous validez votre réponse, vous pouvez la modifier tant qu'elle n'a pas été corrigée par notre animateur en chef. Une fois noté, vous ne pouvez plus faire marche arrière, réfléchissez donc bien avant de valider votre réponse !</p>
    <p>L'animateur peut changer sa note donc pour toute contestation, c'est à vos risques et périls et c'est sur le chat du stream directement que ça se passe.</p>
    <p>S'il y a un thème à trouver, vous pouvez aussi le saisir dans la case correspondante.</p>
    <p>En cas de souci, contactez @renkineko sur Twitter ou parlez-en à l'animateur qui me fera probablement suivre l'info ! :)</p>
</div>

<div class="text-center">
    <p>Un téléphone par équipe</p>
</div>

<div class="row justify-content-center">
    {% if user.is_authenticated and user.is_superuser %}
            <div class="col-6 text-center">
                <a href="{% url 'bt:manage' %}" class="btn btn-primary w-100"><i class="fas fa-music"></i> Gestion du blind test <i class="fas fa-music"></i></a>
            </div>
    {% else %}
        {% if user.is_authenticated %}
            <div class="col-6 text-center">
                <a href="{% url 'bt:play' %}" class="btn btn-primary w-100"><i class="fas fa-music"></i> Revenir au blind test <i class="fas fa-music"></i></a>
            </div>
            <div class="col-6 text-center">
                <a href="{% url 'bt:disconnect' %}" class="btn btn-danger w-100"><i class="fas fa-times-circle"></i> Annuler ma participation <i class="fas fa-times-circle"></i></a>
                <small class="text-muted">Attention : ça détruira votre score, vous n'aurez plus rien pour le blind test en cours.</small>
            </div>
        {% else %}
        <div class="col-6 text-center">
            <p>Pour commencer, choisissez votre nom d'équipe.</p>
                <form method="post" action="{% url 'bt:participate' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="nickname">Nom d'équipe</label>
                        <input type="text" autocomplete="off" maxlength="32" class="form-control" id="nickname" name="nickname" aria-describedby="nicknameHelp" placeholder="Roxxxor du 34">
                        <small id="nicknameHelp" class="form-text text-muted">Si votre nom d'équipe est déjà pris pour cette partie, vous aurez un chiffre rajouté. Soyez original.</small>
                    </div>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-headphones"></i> Participer au blind-test <i class="fas fa-headphones"></i></button>
                </form>
            </div>
        {% endif %}
    {% endif %}
</div>


{% endblock content %}
