{% extends 'bt/base.html' %}
{% load static %}

{% block content %}
<h3>Bienvenue animateur</h3>


<div class="row">
    <div class="col-6 mb-3">
        <button type="button" id="btnStart" class="btn btn-success w-100"><i class="fas fa-play-circle"></i> Lancer le blind test (réinitialise tout) <i class="fas fa-play-circle"></i></button>
    </div>
    <div class="col-6 mb-3">
        <button type="button" id="btnStop" class="btn btn-danger w-100" disabled><i class="fas fa-stop-circle"></i> Arrêter le BT <i class="fas fa-stop-circle"></i> </button>
    </div>
    <div class="col-6 mb-3">
        <div class="btn-group w-100" role="group" aria-label="Nouvelle manche à thème">
            <button type="button" id="btnTheme" class="btn btn-primary" disabled><i class="fas fa-question-circle"></i> Nouvelle manche (avec thème) <i class="fas fa-question-circle"></i></button>
            <button type="button" id="btnTimerTheme" class="btn btn-primary text-danger stop-watch" disabled><i class="fas fa-stopwatch"></i><span id="remainingTimeTheme"></span></button>
        </div>
    </div>
    <div class="col-6 mb-3">
        <button type="button" id="btnNoTheme" class="btn btn-warning w-100" disabled><i class="fas fa-times-circle"></i> Nouvelle manche (sans thème) <i class="fas fa-times-circle"></i></button>
    </div>
    <div class="col-12 mb-3">
        <div class="btn-group w-100" role="group" aria-label="Nouvelle manche à thème">
            <button type="button" id="btnSong" class="btn btn-secondary" disabled><i class="fas fa-plus-circle"></i> Nouvelle musique <i class="fas fa-plus-circle"></i></button>
            <button type="button" id="btnTimerSong" class="btn btn-secondary text-danger stop-watch" disabled><i class="fas fa-stopwatch"></i><span id="remainingTimeSong"></span></button>
        </div>
    </div>
    <div class="col-3" id="mvp1">
        <h6>MVP (<span>NC</span> points)</h6>
        <span></span>
    </div>
    <div class="col-3" id="mvp2">
        <h6>2<sup>nd</sup> (<span>NC</span> points)</h6>
        <span></span>
    </div>
    <div class="col-3" id="mvp3">
        <h6>3<sup>eme</sup> (<span>NC</span> points)</h6>
        <span></span>
    </div>
    <div class="col-3" id="mvp4">
        <h6>Av. dernier (<span>NC</span> points)</h6>
        <span></span>
    </div>
    <div class="col-12">
        <button type="button" id="btnScores" class="btn btn-info w-100"><i class="fas fa-crown"></i> Récap total des scores <i class="fas fa-crown"></i></button>
    </div>
</div>

<template id="tplTheme">
    <div class="card col-12 my-2 current-theme">
        <div class="card-header">
            <a class="text-decoration-none" data-toggle="collapse" href="#collapsenum" aria-expanded="true" aria-controls="collapsenum">
                <h6 class="font-weight-bold font-italic mb-0 text-center">
                    <span>Thème nom</span>
                </h6>
            </a>
        </div>
        <div id="collapsenum" class="collapse show" aria-labelledby="collapsenum">
            <div class="card-body">
                <table class="table table-bordered w-100">
                    <thead>
                        <tr>
                            <th style="width: 50px;">Type</th>
                            <th style="width: 200px;">Attendu...</th>
                            <th>Réponses</th>
                        </tr>
                    </thead>
                    <tbody class="tbody-theme">
                        <tr class="theme bg-info">
                            <td><i class="fas fa-book" alt="theme"></i></td>
                            <td class="expected"></td>
                            <td class="answers">
                                <div class="pl-2 pr-2 row"></div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody class="tbody-song"></tbody>
                </table>
            </div>
        </div>
    </div>
</template>
<template id="tplNoTheme">
    <div class="card col-12 my-2 current-theme">
        <div class="card-header">
            <a class="text-decoration-none" data-toggle="collapse" href="#collapsenum" aria-expanded="true" aria-controls="collapsenum">
                <h6 class="font-weight-bold font-italic mb-0 text-center">
                    <span>Thème nom</span>
                </h6>
            </a>
        </div>
        <div id="collapsenum" class="collapse show" aria-labelledby="deplacementnum">
            <div class="card-body">
                <table class="table table-bordered w-100">
                    <thead>
                        <tr>
                            <th style="width: 50px;">Type</th>
                            <th style="width: 200px;">Attendu...</th>
                            <th>Réponses</th>
                        </tr>
                    </thead>
                    <tbody class="tbody-song"></tbody>
                </table>
            </div>
        </div>
    </div>
</template>
<template id="tplSong">
    <tr class="current-song">
        <td><i class="fas fa-music"></i></td>
        <td class="expected">Nom chanson</td>
        <td class="answers">
            <div class="pl-2 pr-2 row"></div>
        </td>
    </tr>
</template>
<template id="tplAnswer">
    <div class="col-12 col-md-6 col-xl-3 mb-2 border div-answer">
        <div class="mb-1"><i class="fas fa-user"></i> <span class="nickname">Pseudo</span></div>
        <div class="mb-1"><i class="align-top fas fa-pen"></i> <div class="d-inline-block user-answer">Answer</div></div>
        <div class="btn-group btn-group-sm" role="group" aria-label="note">
            <button type="button" val="0" class="not-initialized btn btn-secondary">0</button>
            <button type="button" val="1" class="not-initialized btn btn-secondary">1</button>
            <button type="button" val="2" class="not-initialized btn btn-secondary">2</button>
            <button type="button" val="3" class="not-initialized btn btn-secondary">3</button>
            <button type="button" val="4" class="not-initialized btn btn-secondary">4</button>
            <button type="button" val="5" class="not-initialized btn btn-secondary">5</button>
        </div>
    </div>
</template>
<div class="modal fade" id="finalResults" tabindex="-1" role="dialog" aria-labelledby="finalResultsLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="finalResultsLabel">Résumé des scores</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <template id="tplResult">
                    <div class="col-3 my-1 border"><span class="finalResultUsername"></span> - <span class="finalResultPoints"></span></div>
                </template>
                <div class="row" id="finalResultsDiv">
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="expectedThemeAnswer" tabindex="-1" role="dialog" aria-labelledby="expectedThemeAnswerLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="expectedThemeAnswerLabel">Nouveau thème</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="expectedThemeAnswerForm">
                    <div class="form-group">
                        <label for="expectedTheme" class="col-form-label">Thème à deviner ?</label>
                        <input type="text" autocomplete="off" maxlength="255" class="form-control" aria-describedby="expectedThemeHelp" id="expectedTheme">
                        <small id="expectedThemeHelp" class="form-text text-muted">C'est juste pour info, la validation reste manuelle. Ce sera le titre de la section.</small>
                    </div>
                    <div class="d-none">
                        <input type="submit" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAddTheme">Ajouter</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="expectedSongAnswer" tabindex="-1" role="dialog" aria-labelledby="expectedSongAnswerLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="expectedSongAnswerLabel">Nouvelle musique</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="expectedSongAnswerForm">
                    <div class="form-group">
                        <label for="expectedSong" class="col-form-label">Musique à deviner ?</label>
                        <input type="text" autocomplete="off" maxlength="255" class="form-control" aria-describedby="expectedSongHelp" id="expectedSong">
                        <small id="expectedSongHelp" class="form-text text-muted">C'est juste pour info, la validation reste manuelle. Le titre sera présent sur la ligne, pour aider à la correction.</small>
                    </div>
                    <div class="form-group">
                        <label for="placeholderSong" class="col-form-label">Placeholder</label>
                        <input type="text" autocomplete="off" maxlength="255" class="form-control" id="placeholderSong">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                            <button type="button" placeholder-value="Artiste + titre" class="btn btn-secondary">Classique</button>
                            <button type="button" placeholder-value="Tous les artistes + titre" class="btn btn-secondary">Précis</button>
                            <button type="button" placeholder-value="Artiste original (pas du remix) + titre" class="btn btn-secondary">Remix</button>
                            <button type="button" placeholder-value="Œuvre associée (film, série, anime, jeu vidéo...)" class="btn btn-secondary">Fourre-tout</button>
                            <button type="button" placeholder-value="Titre précis de l'œuvre associée (n° d'opus ou sous-titre...)" class="btn btn-secondary">Fourre-tout précis</button>
                            <button type="button" placeholder-value="" class="btn btn-secondary">Vide</button>
                        </div>
                    </div>
                    <div class="d-none">
                        <input type="submit" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAddSong">Ajouter</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>
<div id="answers" class="row">
    
</div>

<script src="{% static 'bt/js/manager.js' %}"></script>
{% endblock content %}
