{% extends 'bt/base.html' %}
{% load static %}

{% block content %}
<h3>Bienvenue {{ user.username }}</h3>

<div>
    <p><a class="btn btn-sm btn-danger" href="{% url 'bt:index' %}"><i class="fas fa-home"></i> Revenir à l'accueil</a> <small>(Vous pourrez vous déconnecter depuis l'accueil)</small></p>
</div>

<div class="d-none">
    <p>Voici les règles :</p>
    <ol>
        <li>S'imaginer au bar avec sa bande de potes ou sa console</li>
        <li>Ecouter la musique qui passe dans le stream comme si les baffles crachaient les décibels</li>
        <li>Ecrire la réponse dans le(s) champ(s) ci-dessous <i class="fas fa-arrow-circle-down"></i></li>
        <li>Une fois la réponse validée, il est encore possible de la modifier tant que l'animateur ne l'a pas noté (et ça peut survenir n'importe quand, donc attention). Une fois notée : trop tard.</li>
        <li>Espérer être THE MVP du BT !</li>
    </ol>
</div>

<div class="alert alert-warning">ATTENTION : Si vous utilisez votre smartphone pour jouer, si vous changez d'onglet/d'appli ou qu'il se met en veille, une désynchro peut avoir lieu. N'hésitez pas à refresh la page si c'est le cas !</div>

<div class="d-none alert alert-info">Le type de réponse attendu par musique dépend de la manche, mais très souvent il faut répondre artiste ET titre en même temps (dans la même ligne) pour avoir tous les points. Demandez à l'animateur en cas de doute, ou suivez les indications présentes en transparence dans le champ si elles y sont.</div>

<h4>Score final : <span id="totalScore">-</span> <button type="button" id="btnFinalResults" class="d-none btn btn-info"><i class="fas fa-info-circle"></i> Voir les scores finaux <i class="fas fa-info-circle"></i></button></h4>
<div class="modal fade" id="finalResults" tabindex="-1" role="dialog" aria-labelledby="finalResultsLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="finalResultsLabel">Résumé des scores</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <template id="tplResult">
                    <div class="col-3 my-1 border"><span class="finalResultUsername"></span> - <span class="finalResultPoints"></span></div>
                </template>
                <div class="row" id="finalResultsDiv">
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
<div id="play" class="d-none">
    <div id="themeAnswer" class="my-5 d-none">
        <h4 class="text-warning d-none">VITE ! Plus que <span class="timer text-danger"></span> seconde(s) pour répondre !</h4>
        <form id="expectedThemeAnswerForm">
            <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                    <label class="input-group-text bg-info text-dark" for="inputThemeAnswer" id="inputTheme-sizing-lg">Thème</label>
                </div>
                <input type="text" placeholder="Thème commun à toutes les musiques" class="form-control" autocomplete="off" maxlength="255" id="inputThemeAnswer" name="inputThemeAnswer" aria-label="Thème de la manche" aria-describedby="inputTheme-sizing-lg">
                <div class="input-group-append">
                    <input type="submit" class="btn btn-outline-primary" value="Envoyer">
                </div>
            </div>
        </form>
        <div>
            <div id="lockedTheme" class="d-none"><i class="fas fa-lock text-danger"></i>Thème verrouillé par l'animateur</div>
            <span id="waitingCorrectionTheme">Réponse en attente de validation : </span>
            <span id="correctedTheme" class="d-none">Réponse corrigée : </span>
            <span id="lastThemeAnswer">Aucune...</span>
            <span id="cancelLastThemeAnswer" class="cancel-answer d-none">
                <button class="btn btn-danger btn-sm"><i class="fas fa-times"></i> Annuler (si pas déjà noté)</button>
            </span>
            <span id="scoreLastThemeAnswer" class="d-none">
                / Point(s) : <span class="score">-</span>
            </span>
        </div>
    </div>
    <div id="songAnswer" class="my-5 d-none">
        <h4 class="text-warning d-none">VITE ! Plus que <span class="timer text-danger"></span> seconde(s) pour répondre !</h4>
        <form id="expectedSongAnswerForm">
            <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputSongAnswer" id="inputSong-sizing-lg">Musique</label>
                </div>
                <input type="text" class="form-control" autocomplete="off" maxlength="255" id="inputSongAnswer" name="inputSongAnswer" aria-label="Musique en cours" aria-describedby="inputSong-sizing-lg">
                <div class="input-group-append">
                    <input type="submit" class="btn btn-outline-primary" value="Envoyer">
                </div>
            </div>
        </form>
        <div>
            <div id="lockedSong" class="d-none"><i class="fas fa-lock text-danger"></i>Musique verrouillée par l'animateur</div>
            <span id="waitingCorrectionSong">Réponse en attente de validation : </span>
            <span id="correctedSong" class="d-none">Réponse corrigée : </span>
            <span id="lastSongAnswer">Aucune...</span>
            <span id="cancelLastSongAnswer" class="cancel-answer d-none">
                <button class="btn btn-danger btn-sm"><i class="fas fa-times"></i> Annuler (si pas déjà noté)</button>
            </span>
            <span id="scoreLastSongAnswer" class="d-none">
                / Point(s) : <span class="score">-</span>
            </span>
        </div>
    </div>
</div>

<div id="wait" class="my-5">
    <p>Il semblerait que le Blind-test ne soit pas lancé. Pas d'inquiétude, le formulaire apparaîtra dès qu'il sera lancé par notre merveilleux hôte.</p>
</div>

<div id="histo">
    <h5>Votre historique de jeu</h5>
    <ul id="themes"></ul>
</div>

<div id="twitch-embeded"></div>

<!-- Load the Twitch embed script -->
<!-- script src="https://embed.twitch.tv/embed/v1.js"></script>

<!-- Create a Twitch.Embed object that will render within the "twitch-embed" root element. -->
<script type="text/javascript">
/*    new Twitch.Embed("twitch-embed", {
    width: 640,
    height: 800,
//    channel: "antoine_chollet",
    channel: "mrzus",
    });
/**/
</script>


<script src="{% static 'bt/js/player.js' %}"></script>
{% endblock content %}
